
/*-- scss:defaults --*/

$body-bg: #000;

$code-block-border-left: #5c5c5c;

/*-- scss:rules --*/

.cell-output pre {
  background: #282828;
  border: 1px solid #444;
  border-radius: 0 0 4px 4px;  // Round bottom corners only
  margin-top: -2px;  // Negative margin to connect with code cell
  font-family: var(--bs-font-monospace);
  padding: 0.5em 0.5em;
  color: #fff;
}
